@charset "utf-8";
*{box-sizing:border-box;}
html,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;}
html,body{font-family:Helvetica,sans-serif;-webkit-text-size-adjust:none;}
html {
    font-size : 10px;
}
/*@media only screen and (min-width: 360px){
    html {
        font-size: 11.25px !important;
    }
}*/
@media only screen and (min-width: 375px){
    html {
        font-size: 11.7188px !important;
    }
}
@media only screen and (min-width: 384px){
    html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 12.9375px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 13.375px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 600px){
    html {
        font-size: 18.75px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 20px !important;
    }
}
body{ font-size: 12px; color: #323232;background-color: #f2f2f2}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
button,input,select,textarea,a{outline:0;}
textarea{resize:none;}
ul{list-style:none;}
img{outline:0;border:none;}
button,input,input[type="submit"]{-webkit-appearance:none;}
a{ color:#888888; text-decoration:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
a:hover, a:link, a:visited{text-decoration:none;}
.clear{clear:both;}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size: 0; }
.clearfix { *zoom:1;}
.hide{display: none !important;}
.show{display: block !important;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.mt45{margin-top:45px;}