.zkdj-page{
    position: relative;
}
.ohide{
  overflow-x: hidden;
}
.index-header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:44px;
    background-color: #040507;
    text-align: center;
    line-height:44px;
    z-index:2;
}
.index-header a{
    display: inline-block;
}
.index-header .logo img{
    width: 129px;
    height: 35px;
    margin-top: 4px;
}
.index-header .login-box{
    position: absolute;
    left:15px;
}
.index-header .login-box img{
    width:16px;
    height:18px;
    margin-top: 12px;
}
.footer{
    padding-top: 8px;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 1.5;
    border-top:1px solid rgba(153,153,153,.24);
    background-color: rgba(0,0,0,.95);
    z-index:2;
}
.footer a{
    display: block;
    text-align: center;
    margin:0 auto;
}
.index-content{margin-top: 44px;margin-bottom:49px;background-color: #06070a;}
.sw-box,.sw-box1{position: relative;overflow: hidden;}
.swiper-huishu,.swiper-dynamic{overflow: hidden;}
.index-content .sw-box{
    height:253px;
}
/*banner*/
.pr{
  position: absolute;
}
.b1{
  background: url(../images/b1-1.png) no-repeat;
  background-size:100% 100%;
  width:100%;
  height:253px;
}
.b2{
   background: url(../images/b2-2.png) no-repeat;
   background-size:100% 100%;
}
.b3{
   background: url(../images/b3-1.png) no-repeat;
   background-size:100% 100%;
}
.b4{
   background: url(../images/b4-1.png) no-repeat;
   background-size:100% 100%;
}
.b1-img{
  left: 50%;
  top:20px;
  height: 195px;
  margin-left: -153px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}
.txt-img{
  left:50%;
  top:93px;
}
.txt-img1{
   height:18px;
   margin-left: -64px;
}
.txt-img2{
   height:27px;
   top:114px;
   margin-left: -64px;
}
.img1{
    left: 50%;
   top:54px;
   height:66.5px;
   margin-left: -97px;
}
.img2{
   left:30%;
   bottom: 60px;
   height: 50px;
}
.img3{
    right:8%;
    bottom: 13px;
    height:115px;
}
.img4{
   left:50%;
   top:104px;
   height:24px;
   margin-left: -40px;
}
.img5{
   left:50%;
   top:80px;
   height:72.5px;
   margin-left: -87.5px;
}
.img6{
   left:0;
   top:80px;
   width: 100%;
   height:78px;
}
.img7{
   left:55%;
   top:57px;
   height:30.5px;
   z-index: 2;
}
.img8{
   left:10%;
   width: 80%;
   top:0;
   height:202px;
}
.img9{
   left:20%;
   width: 60%;
   top:35px;
   height:179px;
}
.index-content .index-con{
    position: relative;
}
.index-content .index-con .shading{
    position: absolute;
    background-image: url(../images/shading.png);
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    opacity: 10;
}
.title{
    position: relative;
}
.title .zh-CN{
    padding-top:48px;
    font-size:18px;
    color:rgb(255,255,255);
}
.title .en{
    font-size:15px;
    color:rgba(255,255,255,.2);
    -webkit-text-fill-color: rgba(255,255,255,.29);
    text-fill-color:rgba(255,255,255,.29);
    text-transform:uppercase;
}
.title .line-bottom{
    position: absolute;
    left:50%;
    bottom: 0;
    margin-left:-7px;
    margin-bottom: -1px;
    width:14px;
    height:2px;
    background-color: #26ede6;
    border-radius: 3px;
}
.title-group{
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    line-height: 1.4;
}
.title-group .firstTitle{
    font-size:14px;
    color:#ffffff;
}
.title-group .secTitle{
    font-size:12px;
    color:rgba(255,255,255,.3);
}
/*icon图标*/
.icon{
    margin: 0 auto;
    display: block;
    width:18px;
    height:18px;
    background-image: url(../images/index_icons.png);
    background-size: 299.5px 36.2px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.icon-footer-1{
    background-position: 0 -20px;
}
.icon-footer-2{
    background-position: -94px -20px;
}
.icon-footer-3{
    background-position: -188px -20px;
}
.icon-footer-4{
    background-position: -281px -20px;
}
.footer .active .icon-footer-1{
    background-position: 0 0;
}
.footer .active .icon-footer-2{
    background-position: -94px 0;
}
.footer .active .icon-footer-3{
    background-position: -188px 0;
}
.footer .active .icon-footer-4{
    background-position: -281px 0;
}
.footer .active span{color:#ffaa2f;}
.footer-logo img{
    width:110.5px;
    height:30px;
}
.swiper-pagination-bullet{
  background: #fff !important;
  opacity: .5 !important;
}
.swiper-pagination-bullet-active{
  background: #fff !important;
  opacity: 1 !important;
} 
/*布局*/
.layout-box{display: table;width:100%;margin-bottom: 10px;}
.layout-item{display: table-row;}
.layout-cell{display: table-cell;vertical-align: middle;}
.col-3 .layout-cell{width:33.33%;}
.layout-cell .item{display: block;width:65px;height:65px;margin:0 auto;padding:7.5px;text-align: center;background-color: transparent;border:1px solid #26ede6;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.layout-cell .item img{width:50%;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.layout-cell .item span{display: block;width:46px;height:46px;line-height:67px;margin:0 auto;background-color:#26ede6;text-align: center;}
.layout-row .layout-item .layout-cell:first-child{width:120px;}
.layout-row .layout-item .layout-cell:last-child{padding-right:40px;}
.layout-row .layout-cell{padding:21px 0;}
.layout-row .layout-cell .firstTitle{font-size: 14px;color:#ffffff;line-height: 2;}
.layout-row .layout-cell .secTitle{font-size: 13px;color:rgba(255,255,255,.7);line-height: 1.5;}
.layout-row .layout-cell .item span{line-height: 60px;}
/*军犬轮播*/
.swiper-dogking .swiper-slide{
     width: 33.3%;
     height:170px;
}
.dogking-div{
    width:100%;
    text-align: center;
}
.dogking-div dt{
     border:1px solid #ffaa2f;
     display:inline-block;
     width: 65px;
     height: 65px;
     margin: 0 auto;
     padding: 7.5px;
     text-align: center;
     background-color: transparent;
     border: 1px solid #ffaa2f;
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
}
.dogking-div dd{
    padding:30px 0;
}
.dogking-div dt span{
     display: block;
    width: 46px;
    height: 46px;
    line-height: 67px;
    margin: 0 auto;
    background-color:#ffaa2f;
    text-align: center;
}
.dogking-div dd h2{
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.dogking-div dd p{
    font-size: 12px;
    line-height: 16px;
    color: rgba(255,255,255,.3);
    text-align: center;
}
.dogking-div dt span .i-bimg{
      display: inline-block;
      background: url(../images/i-bimg.png) no-repeat;
      background-position:-12px -14px;
      background-size:cover;
      width: 60px;
      height: 45px;
      transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
 }
.dogking-div dt span .i-bimg.bimg2{
     background-position:-74px -6px;
     width: 54px;
     height: 50px;
 }
.dogking-div dt span .i-bimg.bimg3{
     background-position:-123px -10px;
     height: 48px;
 }
.dogking-div dt span .i-bimg.bimg4{
     background-position:-187px -1px;
     width: 52px;
     height: 50px;
 }
.dogking-div dt span .i-bimg.bimg5{
     background-position:-247px -4px;
     width: 58px;
     height: 50px;
 }
.dogking-div dt span .i-bimg.bimg6{
     background-position:-307px -4px;
     height: 50px;
 }
.dogking-div dt span .i-bimg.bimg7{
     background-position:-358px -1px;
     width: 58px;
     height: 50px;

 }

/*慧数轮播*/
.swiper-huishu {
    width: 100%;
    height:325px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px
}
.swiper-huishu .swiper-wrapper {
    margin-top: 10px
}
.swiper-huishu .swiper-slide {
    position: relative;
    width: 168px;
    height:264px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.swiper-huishu .swiper-slide .huishu-img {
    width: 95%;
    height:100%;
    margin: 0 auto;
    margin-top:16px;
    display: block
}
.swiper-huishu .swiper-slide-active{
    animation:wh 500ms;
    width: 200px;
    height:285px;
}
.swiper-huishu .swiper-slide-active .huishu-img{
    animation:marginTop 500ms;
    width:100%;
    margin:0 auto;
}
.smartBanner {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:40px;
    background:rgba(0,0,0,.6);
    color:rgba(255,255,255,1);
    text-align:center;
    line-height:40px;
    font-size:15px;
}
.swiper-dynamic .swiper-slide{height:275px;}
.swiper-dynamic .swiper-slide .dynamic-img{width: 100%;height:190px;}
.swiper-dynamic .swiper-slide .flexBanner{
    height:103px;
    padding:6px 7%;
    background-color: #ffffff;
}
.swiper-dynamic .swiper-slide .flexBanner .banner-title{font-size:13px;color:#333333;text-align: center;}
.swiper-dynamic .swiper-slide .flexBanner .banner-content{display:none;font-size:13px;color:#ffffff;}
.swiper-dynamic .swiper-slide .flexBanner .banner-time{font-size: 6px;color:#606060;text-align: center;line-height: 20px;}
.swiper-dynamic .active .dynamic-img{height:115px;}
.swiper-dynamic .active .flexBanner {height:160px;background-color: #26ede6;}
.swiper-dynamic .active .flexBanner .banner-content{display: block;}
.swiper-dynamic .active .flexBanner .banner-title,.swiper-dynamic .active .flexBanner .banner-time{display: none;}
/*大数据解决方案*/
.i-icon{
      display: inline-block;
      background: url(../images/i-icon.png) no-repeat;
      background-position:-1px 2px;
      background-size:cover;
      width: 40px;
      height: 42px;
      transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
}
.icon2{
     background-position:-1px -43px;
}
.icon3{
     background-position:-1px -90px;
}
/*客户*/
.customer .swiper-wrapper .swiper-slide{
    width: 100% !important;
}
.customer .cicon{width:57px;height:57px;margin:9px auto;background-image: url("../images/customer.png");background-size: 343.5px 123.5px;background-repeat: no-repeat;background-position: 0 0;}
.cicon.cicon1{background-position: 0 0;}
.cicon.cicon2{background-position: -71px 0;}
.cicon.cicon3{background-position: -143px 0;}
.cicon.cicon4{background-position: -214px 0;}
.cicon.cicon5{background-position: -286px 0;}
.cicon.cicon6{background-position: 0 -66px;}
.cicon.cicon7{background-position: -71px -66px;}
.cicon.cicon8{background-position: -143px -66px;}
.cicon.cicon9{background-position: -215px -66px;}
.cicon.cicon10{background-position: -286px -66px;}
.customer .t{font-size: 13px;color:#ffffff;text-align: center;margin-bottom:30px;}
.copyRight {text-align:center;background-color:#040507;}
.copyRight .footer-logo{padding-top:126px;}
.open-link {margin-top:15px;margin-bottom:20px;}
.open-link .circul{display:inline-block;width:44px;height:44px;background-color:rgba(255,255,255,.1);border-radius:50%;text-align:center;margin:0 5px;}
.open-link .circul img{width: 24px;height:20px;vertical-align: -webkit-baseline-middle;margin-top: 12px;}
.customer .cicontwo{
  width:57px;
  height:57px;
  margin:9px auto;
  background-image: url("../images/customer2.png");
  background-size: 351px 140px;
  background-repeat: no-repeat;
  background-position: -2px -6px;
}
.cicontwo.cicontwo1{
  background-position: -2px -6px;
}
.cicontwo.cicontwo2{
  background-position: -73px  -6px;
}
.cicontwo.cicontwo3{
  background-position: -144px  -7px;
}
.cicontwo.cicontwo4{
  background-position: -216px  -8px;
}
.cicontwo.cicontwo5{
  background-position: -290px  -6px;
}
.cicontwo.cicontwo6{
  background-position: -2px -78px;
}
.cicontwo.cicontwo7{
  background-position: -72px -78px;
}
.cicontwo.cicontwo8{
  background-position: -143px -78px;
}
.cicontwo.cicontwo9{
  background-position: -215px -78px;
}
.cicontwo.cicontwo10{
  background-position: -290.5px -78px;
}



.footer-content {width:80%;margin:0 auto;border-top:1px solid rgba(255,255,255,.3);padding:8px 0 30px;color:rgba(255,255,255,.2);font-size:11px;line-height:1.5;}
@media screen and (min-height:481px) {
    .swiper-huishu .swiper-wrapper {
        margin-top: 20px
    }
}
@media screen and (min-height:569px) {
    .swiper-huishu .swiper-wrapper {
        margin-top: 40px
    }
}
@keyframes wh {
    0%{
        width: 168px;
        height:264px;
    }
    100%{
        width: 200px;
        height:285px;
    }
}
@keyframes marginTop {
    0%{
        margin-top:16px;
    }
    100%{
        margin-top: 0;
    }
}
/*扫码弹层*/
.modal-open{
  overflow: hidden;
}
.alertdiv{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.67);
  z-index: 99;
}
.alert-content{
   background: url(../images/alertbg.png) no-repeat;
   background-size:100% 100%;
   width: 70%;
   height: 302px;
   position:fixed;
   left:50%;
   top:50%;
   z-index: 2;
   margin-left: -35%;
   margin-top: -151px;
   text-align: center;
}
.alert-img a{
  display: none;
}
.alert-img a.bg{
  display: block;
}
.alert-img a img{
   width: 183px;
   height: 183px;
}
.alert-title{
   width: 70%;
   height: 22px;
   margin: 22px 0;
   margin-left: 15%;
   border-bottom: 1px solid #ccc;
}
.alert-tab{
   display: inline-block;
   width: 49%;
   color: #ccc;
   font-size: 11px;
   line-height: 20px;
}
.alert-tab.on{
   color: #ffb722;
   border-bottom: 3px solid  #ffb722;
}
.alert-close{
  display: inline-block;
  width: 16px;
  height: 16px;
  background:url(../images/alert3.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right:13px;
  top:10px;
}
.alert-close:active{
   opacity: .3;
}