html,body,.zkdj-page{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";

}
/*-------------------------------头部开始-------------------------------*/
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:44px;
    background-color: #040507;
    z-index:2;
    text-align: center;
}
.header h1{
    display: inline-block;
	font-size: 15px;
	color: #fff;
	height: 44px;
	line-height: 44px;
	font-weight: normal;
}
/*-------------------------------主体开始-------------------------------*/
.main{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-top: 44px;
	padding-bottom: 44px;
    background:#eff2f6;
}
/*----------------------------------------合作申请开始---------------------------------------*/
.ca-formdiv{
	padding: 23px 8% 0 8%;
}
.ca-formdiv p{
	height: 51px;
	padding: 13px 0;
	display:-webkit-flex;
	display:flex;

}
.ca-formdiv p label{
	display: inline-block;
	width: 72px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #333;
	
}
.ca-formdiv p label i{
	display: inline-block;
	font-style: normal;
	padding:0 1% 0 0;
	color: #ca0000;
	
}
.ca-formdiv p input{
	-webkit-flex:1;
	flex:1;
	height: 24px;
	line-height: 24px;
	padding-left: 3%;
	border:none;
	
}
.ca-get {
	display:-webkit-flex;
	display:flex;
}
.ca-get label{
    display: inline-block;
	width: 72px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #333;
}
.ca-get label i{
	display: inline-block;
	font-style: normal;
	padding:0 1% 0 0;
	color: #ca0000;
	
}
.radiodiv{
	-webkit-flex:1;
	flex:1;
	float: left;
}
.iradio{
	display: inline-block;
}
/*.radiodiv li{
    float: left;
    width: 50%;
    padding-left: 5%;
}
.radiodiv li input{
    width: 10px;
    height: 10px;
}
.radiodiv li label{
    display: inline;
	font-size: 14px;
	color: #333;
}*/
.ca-agree{
    margin-left: 21%;
	height:27px;
	line-height: 27px;
	margin-top: 19px;
}
.agree-word{
	float: left;
	color:rgba(51,51,51,.6);
	font-size: 12px;
	margin-left: 1%;
}
.ca-agree input{
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 7px;
}
.agree-word a{
	color: #ffaa2f;
	text-decoration: underline;
}
.agree-word a:hover{
	color: #f69912;
	text-decoration: underline;
}
.ca-btn{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
    font-size: 15px;
    color: #fff;
    background: #ffaa2f;
    border:none;
    margin-bottom: 50px;
    font-family: "微软雅黑";

}
.ca-btn:hover{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
    font-size: 15px;
    color: #fff;
    background: #f69912;
    border:none;
    margin-bottom: 50px;
    font-family: "微软雅黑";

}
.ca-formdiv form p:first-child{
	position: relative;
}
.tip{
	position: absolute;
	left: 72px;
	top:40px;
	color:#ffaa2f;
	font-size: 11px;
}


/*-------------------------------关于我们页开始---------------------------------------*/
.am-banner{
	height: 135px;
	width: 100%;
}
.am-banner img{
	height: 135px;
	width: 100%;
}
.am-companymenu{
	background: #fff;
	padding: 9px 4%;
}
.am-companymenu h2,.sir-saying h2,.am-history h2{
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #ffaa2f;
    font-size: 18px;
    font-weight: normal;
    padding-left:2%; 

}
.am-companymenu ul li{
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.am-sir{
	background: url(../images/am-sir3.png) no-repeat;
	background-size: 100% 100%;
	padding: 295px 4% 60px 4%;
	position: relative;
}
.sir-saying p{
   color: #fff;
   line-height: 24px;
   font-size: 14px;
}
.sir-menu{
	position: absolute;
	right: 5%;
	top:42px;
	width: 39%;
	color: #fff;
   line-height: 20px;
   font-size: 13px;
}
.am-history{
	height: 300px;
	padding: 7px 0;
}
.am-history h2{
	padding-left: 5%;
}
.am-list{
	height: 380px;
}
.am-list dl{
	float: left;
	width: 50%;
	text-align: center;
	height: 173px;
	padding:40px 5%;
}
.am-list dl dt{
	height: 92px;
}
.am-list dl dt a{
    display:inline-block;
    border: 1px solid #ffaa2f;
    width: 66px;
    height: 66px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.am-list dl dd{
    display: block;
    width:100%;
    text-align: center;
    font-style: normal;
    color: #ffaa2f;
}
.list-item{
	display: inline-block;
	background:url(../images/am-icon.png) no-repeat;
	background-size:cover;
	background-position: 0 0;
	width: 67px;
	height: 66px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.list-item.two{
	background-position: 0 -102px;
	width: 67px;
	height: 36px;
	margin-left: 16px;

}
.list-item.three{
	background-position: 0 -66px;
	width: 67px;
	height: 24px;
	margin-left: 16px;

}
.list-item.four{
	background-position: 0 -140px;
	width: 67px;
	height: 32px;
	margin-left: 16px;

}

/*发展历程*/
.history-contain{
    height: 1220px;
    background:pink;
    position: relative;
    //transform: rotate(90deg);
}
.history-contain ul{
	border-left:1px solid #ffaa2f;
	position: absolute;
	left:50%;
	top:0px;

}
.history-contain ul li{
	width: 65%;
}
.history-num{
	font-size: 15px;
	color:#ffaa2f; 
}
.history-top{
	position: absolute;
	left:-80%;
}
.history-bottom{
	position: absolute;
	right: 20%;
}