html,body,.zkdj-page{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";

}
/*-------------------------------头部开始-------------------------------*/
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:44px;
    background-color: #040507;
    z-index:2;
    text-align: center;
}
.header h1{
    display: inline-block;
	font-size: 15px;
	color: #fff;
	height: 44px;
	line-height: 44px;
	font-weight: normal;
}
/*-------------------------------主体开始-------------------------------*/
.main{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-top: 44px;
	padding-bottom: 44px;
    background:#eff2f6;
}
/*----------------------------------------合作申请开始---------------------------------------*/
.ca-formdiv{
	padding: 23px 8% 0 8%;
}
.ca-formdiv p{
	height: 51px;
	padding: 13px 0;
	display:-webkit-flex;
	display:flex;

}
.ca-formdiv p label{
	display: inline-block;
	width: 72px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #333;
	
}
.ca-formdiv p label i{
	display: inline-block;
	font-style: normal;
	padding:0 1% 0 0;
	color: #ca0000;
	
}
.ca-formdiv p input{
	-webkit-flex:1;
	flex:1;
	height: 24px;
	line-height: 24px;
	padding-left: 3%;
	border:none;
	
}
.radiodiv{
	-webkit-flex:1;
	flex:1;
	float: left;
}
.iradio{
	display: inline-block;
}
.ca-btn{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
    font-size: 15px;
    color: #fff;
    background: #ffaa2f;
    border:none;
    margin: 20px 0 50px 0;
    font-family: "微软雅黑";

}
.ca-btn:hover{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
    font-size: 15px;
    color: #fff;
    background: #f69912;
    border:none;
     margin: 20px 0 50px 0;
    font-family: "微软雅黑";

}
.ca-formdiv form p:first-child{
	position: relative;
}
.tip{
	position: absolute;
	left: 72px;
	top:40px;
	color:#ffaa2f;
	font-size: 11px;
	display: none;
}


/*-------------------------------关于我们页开始---------------------------------------*/
.am-banner{
	height: 135px;
	width: 100%;
}
.am-banner img{
	height: 135px;
	width: 100%;
}
.am-companymenu{
	background: #fff;
	padding: 9px 4%;
}
.am-companymenu h2,.sir-saying h2,.am-history h2{
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #ffaa2f;
    font-size: 18px;
    font-weight: normal;
    padding-left:2%; 

}
.am-companymenu ul li{
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.am-sir{
	background: url(../images/am-sir3.png) no-repeat;
	background-size: 100% 100%;
	padding: 295px 4% 60px 4%;
	position: relative;
}
.sir-saying p{
   color: #fff;
   line-height: 24px;
   font-size: 14px;
}
.sir-menu{
	position: absolute;
	right: 5%;
	top:42px;
	width: 39%;
	color: #fff;
   line-height: 20px;
   font-size: 13px;
}
.am-history{
	height: 300px;
	padding: 7px 0;
}
.am-history h2{
	padding-left: 5%;
}
.am-list{
	height: 380px;
}
.am-list dl{
	float: left;
	width: 50%;
	text-align: center;
	height: 173px;
	padding:40px 5%;
}
.am-list dl dt{
	height: 92px;
}
.am-list dl dt a{
    display:inline-block;
    border: 1px solid #ffaa2f;
    width: 66px;
    height: 66px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.am-list dl dd{
    display: block;
    width:100%;
    text-align: center;
    font-style: normal;
    color: #ffaa2f;
}
.list-item{
	display: inline-block;
	background:url(../images/am-icon.png) no-repeat;
	background-size:cover;
	background-position: 0 0;
	width: 67px;
	height: 66px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.list-item.two{
	background-position: 0 -102px;
	width: 67px;
	height: 36px;
	margin-left: 16px;

}
.list-item.three{
	background-position: 0 -66px;
	width: 67px;
	height: 24px;
	margin-left: 16px;

}
.list-item.four{
	background-position: 0 -140px;
	width: 67px;
	height: 32px;
	margin-left: 16px;

}

/*发展历程*/

/*-------------------------------军犬股掌/军犬毒霸/军犬法眼/企业内参页开始---------------------------------------*/
#back{
	background:url(../images/back.png) no-repeat;
	width: 10px;
	height: 15px;
	background-size: cover;
	position: absolute;
	left: 5%;
	top:0;
	margin-top: 14px;
	font-size: 0;
}
#back:hover{
	background:url(../images/back.png) no-repeat;
	width: 10px;
	height: 15px;
	background-size: cover;
	position: absolute;
	left: 5%;
	top:0;
	margin-top: 14px;
	font-size: 0;
	background-image: rgba(255,255,255,.5);
}
.dp-banner,.db-banner,.dde-banner,.er-banner,.dk-banner,.dc-banner{
	height: 157px;
}
.dp-banner img,.db-banner img,.er-banner img,.dk-banner img,.dc-banner img{
	width: 100%;
    height: 158px;
}
.dde-banner img{
    width: 100%;
    height: 157px;
}
.dp-content,.db-content,.dde-content,.er-content{
	background: #07090c;
	padding-bottom: 36px;
}
.dp-content dl,.db-content dl,.dde-content dl,.er-content dl{
	border-bottom: 1px solid #132748;
	/*display: flex;
	display: -webkit-flex;*/

}
.er-content dl:first-child{
	border-top: 1px solid #132748;
}
.dp-content dl dt,.db-content dl dt,.dde-content dl dt,.er-content dl dt{
	display: inline-block;
	width: 115px;	
	text-align: center;
	padding: 15px 10px 15px 10px;
}
.dp-content dl dt img{
    width:78px;
    margin-bottom:20px;
}
.db-content dl dt img{
    width: 98px;
    margin-bottom:20px;
}
.dp-content dl:nth-child(2) dt img{
    width: 78px;
     margin-bottom:5px;
}
.dde-content dl dt img{
    width: 88px;
    margin-bottom:2px;
}
.dde-content dl:nth-child(2) dt img{
    width: 88px;
    margin-bottom:15px;
}
.dde-content dl:last-child dt img{
    width: 88px;
    margin-bottom:15px;
}
.dp-content dl dd,.db-content dl dd{
	display: inline-block;
	width: 62%;
	border-left: 1px solid #132748;
	padding:21px 5% 23px 5%;
	/*-webkit-flex:1;
	flex:1;*/
}
.er-content dl dt img{
    width: 90px;
    margin-bottom:-4px;
}
.er-content dl:nth-child(2) dt img{
    width: 94px;
    margin-bottom:36px;
}
.dde-content dl dd{
	display: inline-block;
	width: 62%;
	border-left: 1px solid #132748;
	padding:21px 3% 23px 3%;
}
.er-content dl dd{
    display: inline-block;
	width: 62%;
	border-left: 1px solid #132748;
	padding:33px 3% 33px 3%;
}
.dp-content dl dd h2,.db-content dl dd h2,.dde-content dl dd h2,.er-content dl dd h2{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #fd9b13;
	font-weight: normal;
	font-family: "微软雅黑";

}
.er-content dl dd ul li{
	line-height: 30px;
}
.er-content dl dd ul li span{
	display: inline-block;
    background:url(../images/d4-small.png) no-repeat;
    background-size: cover;
    width: 12px;
    height: 10px;
    margin-right: 3%;
}
.dp-content dl dd ul li a,.db-content dl dd ul li a,.dde-content dl dd ul li a,.er-content dl dd ul li a{
    font-size:13px;
    color: #fff;
    line-height: 20px;
}
.dp-content dl dd ul li a:hover,.db-content dl dd ul li a:hover,.dde-content dl dd ul li a:hover,.er-content dl dd ul li a:hover{
    font-size:13px;
    color: rgba(253,155,19,.9);
    line-height: 20px;
}


.er-hotword{
	background:#07090c;
}
.er-hotword h2{
	padding-top: 44px;
	font-size: 18px;
	color: #fff;
	line-height: 25px;
	font-weight: normal;
	text-align: center;
}
.er-hotword h3{
	font-size: 13px;
	color: #fff;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
}
.er-imagediv{
	padding: 45px 0;
	text-align: center;
}
.er-imagediv img{
    width:211px;

}
.er-content dl dd p{
     font-size: 13px;
     color: #fff;
     line-height: 22px;
}

/*-------------------------------军犬标王页开始---------------------------------------*/

.dk-div,.dc-div{
	background:#040914;
	padding:38px 5% 15px 5%;
}
.dk-title,.dc-title{
	text-align: center;
	position: relative;
}
.dk-title h2,.dc-title h2{
	height: 28px;
    font-size: 18px;
    color: #fff;
    font-weight:normal;
    line-height: 28px;
}
.dk-title h3{
	height: 22px;
    font-size: 14px;
    color: #26ede6;
    font-weight:normal;
    line-height: 22px;
    font-family:"微软雅黑";
}
.dk-line,.dc-line{
	width:56px;
	position: absolute;
	left:50%;
	margin-left: -28px;
	border:1px solid #ff9600;
}
.dk-menu li{
	margin-top: 20px;

}
.dk-menu li:first-child h4 span{
	display: inline-block;
    background:url(../images/d5-icon.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 20px;
    height: 14px;
    margin-right: 3px;
}
.dk-menu li:nth-child(2) h4 span{
	display: inline-block;
    background:url(../images/d5-icon.png) no-repeat;
    background-position: 0 -20px;
    background-size: cover;
    width: 20px;
    height: 14px;
    margin-right: 3px;
}
.dk-menu li:last-child h4 span{
	display: inline-block;
    background:url(../images/d5-icon.png) no-repeat;
    background-position: 0 -38px;
    background-size: cover;
    width: 20px;
    height: 24px;
    margin-bottom: -4px;
    margin-right: 3px;
}
.dk-menu li h4{
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
}
.dk-menu li p{
	line-height: 20px;
	font-size: 14px;
	color: #77787a;
	margin-left: 23px;
}
.dk-nav{
	padding: 12px 5%;
}
.dk-nav p{
	display: inline-block;
	width: 32%;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.dk-nav p:first-child i{
	display: inline-block;
	background:url(../images/d5-icon2.png) no-repeat;
	background-position: 0 0;
	background-size: cover;
	width: 16px;
	height: 15px;
	margin:0 2px -2px 0;
}
.dk-nav p:nth-child(2) i{
	display: inline-block;
	background:url(../images/d5-icon2.png) no-repeat;
	background-position: 0 -18px;
	background-size: cover;
	width: 16px;
	height: 14px;
	margin:0 2px -2px 0;
}
.dk-nav p:last-child i{
	display: inline-block;
	background:url(../images/d5-icon2.png) no-repeat;
	background-position: 0 -35px;
	background-size: cover;
	width: 16px;
	height: 14px;
	margin:0 2px -4px 0;
}
.dk-show{
	padding: 20px 0;
}
.dk-show li{
	text-align: center;
	padding: 2px 0;
}
.dk-show li b{
    display: inline-block;
    width: 12%;
    height: 20px;
    padding: 0 1%;
    //line-height: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    
}
.dk-show li b:first-child{
	 width: 17%;
}
.dk-show li small{
	display: inline-block;
	width: 12px;
	height: 10px;
    background:url(../images/d5-2.png) no-repeat;
    background-size:cover;
    margin:0 6px;
}
.b-orange{
	 border:1px dashed #ff876c;
}
.b-orange:hover{
	 border:1px solid #ff876c;
}
.b-blue{
	border:1px dashed #00ffff;
}
.b-blue:hover{
	border:1px solid #00ffff;
}
.dk-list{
	padding: 40px 0;
}
.dk-list dl{
	margin: 20px 0;

}
.dk-list dl dt{
	display: inline-block;
	color: #fff;
	font-size: 15px;
	background:url(../images/d5-3.png) no-repeat;
	background-size: 100% 100%;
	height:22px;
	line-height: 16px;
	padding-left: 18px;
	//vertical-align: middle;
}
.dk-list dl dd{
	display: inline-block;
	margin-left: 3%;
}
.dk-list dl dd p{
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	text-align: left;
}
.dk-list dl:nth-child(2n){
	text-align: right;
	margin-right: 6%;
}
.dk-list dl:nth-child(2n+1){
	text-align: left;
	margin-left: 6%;
}
/*------------------------------------军犬网评页开始---------------------------------*/
.dc-nav{
	padding: 30px 0 0 0;
}
.dc-nav ul li{
	display: inline-block;
	width: 30%;
	margin: 15px 1%;
	text-align: center;
}
.dc-nav ul li h2{
	font-size: 15px;
	color: #fff;
	font-weight: normal;
	line-height: 25px;
	margin:14px 0 4px 0; 
}
.dc-nav ul li a{
	display:inline-block;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    padding: 7.5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ffaa2f;
    transform: rotate(45deg);
}

.dc-nav ul li a span{
    display: block;
    width: 46px;
    height: 46px;
    line-height: 67px;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
 }
 .dc-img{
 	  display: inline-block;
      background: url(../images/d6-icon.png) no-repeat;
      background-position:0 0;
      background-size:  74px 198px;
      width: 30px;
      height: 24px;
      transform: rotate(-45deg);
 }
 .dc-img1{
 	 background-position:2px -28px;
 }
 .dc-img2{
 	 background-position:2px -60px;
 }
 .dc-img3{
 	 background-position:2px -88px;
 }
 .dc-img4{
 	 background-position:4px -115px;
 }
 .dc-img5{
 	 background-position:4px -141px;
 }
 .dc-img6{
 	 background-position:2px -172px;
 }
 /* .active 点击状态开始*/
  .dc-nav ul li.active .dc-img{
  	 background-position:-38px -2px;
  }
  .dc-nav ul li.active .dc-img1{
  	 background-position:-35px -30px;
  }
  .dc-nav ul li.active .dc-img2{
  	 background-position:-35px -60px;
  }
  .dc-nav ul li.active .dc-img3{
  	 background-position:-35px -88px;
  }
  .dc-nav ul li.active .dc-img4{
  	 background-position:-35px -115px;
  }
  .dc-nav ul li.active .dc-img5{
  	 background-position:-35px -141px;
  }
  .dc-nav ul li.active .dc-img6{
  	 background-position:-35px -172px;
  }
 .dc-nav ul li.active a span{
    display: block;
    width: 46px;
    height: 46px;
    line-height: 67px;
    margin: 0 auto;
    background-color:#ffaa2f ;
    text-align: center;
 }
 /* .active 点击状态结束*/
.dc-autoplay{
	overflow: hidden;
}
.swiper-slide{
 	width: 42% !important;
 	padding: 6px 3%;
 	background:#fff;
 	border-radius:4px;
 	height:184px; 
 	border:2px solid transparent;
 	margin: 40px 4% 20px 4%;
 }
 .swiper-slide.active{
 	width: 40%;
 	background:#fff;
 	border-radius:4px;
 	height:184px; 
 	border:2px solid #ffaa2f;
 }
 .swiper-slide h2{
 	height: 28px;
 	text-align: center;
 	font-size: 15px;
 	color: #141414;
 	line-height: 28px;
 }
 .swiper-slide p{
 	font-size: 13px;
 	color: #2f2f2f;
 	line-height: 18px;
 }
 .dc-icon{
 	  display: inline-block;
 	  margin: 8px 42%;
      background: url(../images/d6-icon2.png) no-repeat;
      background-position:0 0;
      background-size:cover;
      width: 33px;
      height: 34px;
 }
.dc-icon1{
  	   background-position:0 -43px;
  }
.dc-icon2{
  	   background-position:0 -86px;
  }
.dc-list1 dl dt,.dc-list2 dl dt{
	display: inline-block;
	width: 55px;
	height: 55px;
	border:1px dashed #26ede6;
	border-radius: 50%;
}
.dc-all{
	display: inline-block;
	margin: 10px;
	background: url(../images/d6-icon3.png) no-repeat;
	background-position:0 0;
	background-size:cover;
	width: 37px;
	height: 36px;
}
.dc-all1{
	background-position:0 -40px;
}
.dc-all2{
	background-position:5px -70px;
}
.dc-all3{
	background-position:0 -106px;
}
.dc-all4{
	background-position:0 -148px;
}
.dc-all5{
	background-position:-2px -185px;
}
.dc-list1 dl dd{
	display: inline-block;
	width:36%;
	color: #fff;
	font-size: 14px;
	padding: 0 0 0 2%;
	margin: 25px 0;
    border-bottom: 1px dashed #fff;
    border-right: 1px dashed #fff;
    border-color: rgba(255,255,255,.8);
    transform: skew(-30deg);

}
.dc-list1{
    margin-top: 50px;
}
.dc-list1 dl{
	text-align: left;	
}
.dc-list1 dl:first-child{
	margin-left: 16%;
}
.dc-list1 dl:nth-child(3){
	margin-left: 8%;
}
.dc-list2 dl{
	text-align: right;
}
.dc-list2 dl:first-child{
	margin-right: 16%;
}
.dc-list2 dl:nth-child(3){
	margin-right: 8%;
}
.dc-list2 dl dd{
    display: inline-block;
	width:36%;
	color: #fff;
	font-size: 14px;
	padding: 0 2% 0 0 ;
	margin: 25px 0;
    border-top: 1px dashed #fff;
    border-left: 1px dashed #fff;
    border-color: rgba(255,255,255,.8);
    transform: skew(-30deg);
}